* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}

body {
    background-color:#6d4475;
    font-family: sans-serif;
}

#app {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:25px;
}

