.titre {
    background-color: black;
    color: yellow;
}

.contenu {
    background-color: green;
    color: blue;
}

body {
    background: url(arrierePlan.jpg) no-repeat;
    background-size: cover;
}